{% extends "base.html" %}
{% load static %}

{% block content %}

<!--Header is colored based on top 3 dominant colors in image-->
<h1 class="header-detail">{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{{project.image.url}}" alt="Picture of {{project.title}}" width="50%" class="detail-img">
    </div>
    <div class="col-md-4">
        <br>
        <br>
<h5 class="theme-underline">Description of Flavor Experience:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5 class="theme-underline">Flavor Technology Used:</h5>
        <p>{{ project.technology }}</p>
        <br>
        <h5 class="theme-underline">Heat Level:</h5>
        <p>{{ project.heat }}</p>
        <h5 class="theme-underline">Overall Rating:</h5>
        <p>{{ project.rating }}</p>
    </div>
</div>
<div class="text-center">
    <a href="/projects" class="btn btn-large btn-secondary text-center theme-button" role="button">Back to Ramen Index</a>
</div>
{% endblock %}
